<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwKm-2CzDT0CnGJiO9GqBO3sh-Sm4ZlKg</string>
	<key>GCM_SENDER_ID</key>
	<string>68691710310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.BudgetBasket</string>
	<key>PROJECT_ID</key>
	<string>budgetbasket-82776</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetbasket-82776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68691710310:ios:58b896d1b105a9feb578a7</string>
</dict>
</plist>